a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
.aside {
  width: 180px;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  transition: all 1s;
  z-index: 999;
}
.aside .brand {
  width: 100%;
  height: 50px;
  background: #367FA9;
}
.aside .brand a {
  font-size: 26px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  padding: 0;
  margin: 0;
  display: block;
}
.aside .down {
  background: #222D32;
  width: 100%;
  height: 100%;
}
.aside .down .user {
  padding-top: 60px;
}
.aside .down .user img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.aside .down .user p {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.aside .down .guanli {
  line-height: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 50px;
}
.aside .down .guanli li {
  width: 100%;
}
.aside .down .guanli li a {
  display: block;
  height: 40px;
  width: 100%;
  border-left: 3px solid transparent;
  padding-left: 40px;
  color: #fff;
}
.aside .down .guanli li .child a {
  padding-left: 50px;
}
.aside-hide {
  left: -180px;
}
.guanli-light {
  background: #1D1F21 ;
  border-left: 3px solid #006699;
}
.right-aside {
  width: 100%;
  padding-left: 180px;
  transition: all 1s;
}
.right-aside .top {
  height: 50px;
  background-color: #3C8DBC;
  text-align: center;
  line-height: 50px;
}
.right-aside .top a {
  height: 50px;
  width: 50px;
  color: #fff;
  font-size: 20px;
}
.right-aside .nav {
  margin-top: 20px;
  margin-left: 15px;
}
.right-p0 {
  padding-left: 0;
}
